[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
isort = "*"
mypy = "*"
pre-commit = "*"
pylint = "*"
toml = "*"
xenon = "*"
yapf = "*"

[dev-packages]
personal-pre-commit-hooks = { path = ".", editable=true }
pytest = "*"

[requires]
python_version = "3.10"
